.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
/test/config/
/test/.*
selenium-debug.log

spring/bin*
spring/build*
spring/.gradle*

nuxt/node_modules/
nuxt/.nuxt

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
